<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Просмотр пользователя</title>
</head>
<body>
<div align="left">
    <div id="centerLayer">
        <h2>Просмотр пользователя c Id <label th:utext="${user.id}"></label></h2>
        <br>
        <form th:method="GET" th:action="@{/templates/user}" th:object="${user}">

            <label for="name">Имя</label>
            <input readonly type="text" th:field="*{name}" id="name"/>
            <br><br>

            <label for="surname">Фамилия</label>
            <input readonly type="text" th:field="*{surname}" id="surname"/>
            <br><br>

            <label for="age">Возраст</label>
            <input readonly type="text" th:field="*{age}" id="age"/>
            <br><br>

            <label for="department">Отдел</label>
            <input readonly type="text" th:field="*{department}" id="department"/>
            <br><br>

            <label for="position">Должность</label>
            <input readonly type="text" th:field="*{position}" id="position"/>
            <br><br>

        </form>
        <form th:method="POST" th:action="@{/logout}">
            <button>Выход</button>
        </form>
    </div>
</div>
</body>
</html>