<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый пользователь</title>
</head>
<body>
<div align="left">
    <div id="centerLayer">
        <h2>Создать нового пользователя</h2>
        <br>
        <form th:method="POST" th:action="@{/admin/saveUser}" th:object="${user}">

            <label for="name">Имя</label>
            <input type="text" th:field="*{name}" id="name"/>
            <br><br>

            <label for="surname">Фамилия</label>
            <input type="text" th:field="*{surname}" id="surname"/>
            <br><br>

            <label for="age">Возраст</label>
            <input type="text" th:field="*{age}" id="age"/>
            <br><br>

            <label for="department">Отдел</label>
            <input type="text" th:field="*{department}" id="department"/>
            <br><br>

            <label for="position">Должность</label>
            <input type="text" th:field="*{position}" id="position"/>
            <br><br>

            <label for="username">Логин</label>
            <input type="text" th:field="*{username}" id="username"/>
            <br><br>

            <label for="password">Пароль</label>
            <input type="text" th:field="*{password}" id="password"/>
            <br><br>

            <label>Роли:
                <select id="roles" th:field="*{roles}" size="2" multiple="multiple">
                    <option th:each="role : ${allRoles}"
                            th:text="${role.roleName}"
                            th:value="${role.id}">
                    </option>
                </select>
            </label>
            <br><br>

            <input type="submit" value="Создать">

        </form>

        <br>
        <input type="button" value="Вернуться к списку пользователей" onclick="window.location.href='/admin'"/>
        <br><br>
        <form th:method="POST" th:action="@{/logout}">
            <button>Выход</button>
        </form>

    </div>
</div>
</body>
</html>